.lowerScreen {
    padding-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.t {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    width: 65%;
}

.tabsPart {
    padding-top: 2rem;

}

.tabItems {
    background-color: #FFFFFF;
    z-index: 1;
    display: flex;
    padding-top: 2rem;
    width: 65%;
    position: fixed;
    justify-content: space-between;
    border-bottom: 1px solid rgb(39, 106, 160, 0.3);
}

.tabLeft>.active {
    border-bottom: 2px solid #E81244;
    padding-bottom: 1rem;
    color: #E81244;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;

}

.tabRight>.active {
    border-bottom: 2px solid #E81244;
    padding-bottom: 1rem;
    color: #E81244;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
}

.tabLeft {
    display: flex;
    gap: 3rem;
}

.tabRight {
    display: flex;
}

.tab {
    opacity: 0.5;
    color: #230735;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}