.photo {
    display: flex;
    flex-wrap: wrap;
    padding-top: 9rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.photoItems{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.photoMeasure {
    height: 152px;
    width: 195px;
}

.heart{
    position: absolute;
    top: 7px;
    right: 7px;
}

.personName{
    position: absolute;
    color: rgb(255, 255, 255, 0.9);
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    bottom: 16px;
    left: 35px;
}

.videoButton{
    position: absolute;
    top: 46px;
    right: 73px;

}